{% set author_avatar = 'https://pybonacci.org/images/author/manuel-garrido.png' %}  
{% set author_description = """Manuel ha estado 4 años en Nueva York, primero trabajando como Senior Analyst para la NBC y luego como Data Scientist. Tras trabajar en varias empresas, ahora trabaja como Data Scientist Consultant, tanto para clientes españoles como extranjeros. Si necesitas ayuda, no dudes en contactarle!
""" %}
{% set author_twitter = 'https://twitter.com/manugarri' %}
{% include 'about_author.html' %}
