{% set author_avatar = '' %}
{% set author_description = """Kiko es doctor en ciencias físicas y esta especializado en física de la atmósfera, meteorología y climatología. Además de estar en las nubes es especialista en temas de energías renovables en Iberdrola. Ávido de seguir mejorando siempre está abierto a participar en nuevos proyectos y retos por lo que no dudes en contactarle si necesitas servicios especializados de Python o meteorología.
""" %}
{% set author_twitter = 'https://twitter.com/Dr_Meteo' %}
{% include 'about_author.html' %}
